.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

.debug
/lib/custom/net472
# Built Visual Studio Code Extensions
*.vsix
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
__blobstorage__
__queuestorage__
__azurite_db*__.json